@font-face {
  font-family: "NatoSans";
  src: url('./misc/fonts/NatoSans.ttf') format('truetype');
}

html, body, .app {
  height: 100%;

  background-color: gray;
}

body {
  font-family: "NatoSans", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none !important;
}

.app {
  display: flex;
  height: min-content;
  justify-content: center;
}

.board {
  display: grid;
  gap: 10px;
}

.tile {
  height: clamp(90px, 20vw, 200px);
  width: clamp(90px, 20vw, 200px);
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #4f4e4e;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0px 0px 5px black;
  color: white;
  font-size: clamp(36px, 10vw, 6rem);
  transition: 0.2s;
}

.tile:hover {
  background-color: #3e3e3e;
}

.tile > .content {
  display: flex;
  align-items: center;
  
  transition: 0.1s ease-in;
  opacity: 0;
}

.scoreboard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.buttons button {
  padding: 10px;
  width: 100px;

  background-color: white;
  border: none;
  border-radius: 10px;
}