@font-face {
  font-family: "NatoSans";
  src: url('./misc/fonts/NatoSans.ttf') format('truetype');
}

html, body, .app {
  height: 100%;
}

body {
  font-family: "NatoSans", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  display: grid;
  grid-template-rows: 150px;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  gap: 10px;
}

.tile {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: blue;
  color: white;
  font-size: 6rem;
}

.tile > .content {
  display: flex;
  align-items: center;
}

.scoreboard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  font-size: 4rem;
}